---
---
@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Noto Sans;
}

a { color: #e22a7a;}
a:visited { color: #a91756; }



object {
    border: 1px solid black
}

embed {
    border: 1px solid black
}

iframe {
    border: 1px solid black
}

$max-w: 60% !default;
$max-w-home: 100% !default;

$max-w-cv: 60% !default;

.home {
    max-width: #{$max-w-home}; margin-right: auto; margin-left: auto;
}

.cv {
    /*max-width: #{$max-w-cv}; margin-right: auto; margin-left: auto;*/
}

.wrapper { max-width: -webkit-calc(#{$max-w} - (30px * 2)); max-width: calc(#{$max-w} - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: #{$max-w}) { .wrapper { max-width: -webkit-calc(#{$max-w} - (30px)); max-width: calc(#{$max-w} - (30px)); padding-right: 15px; padding-left: 15px; } }

.site-title {font-size: 22px; font-weight: normal;}